{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <h1>Your Thumbnails</h1>
    <form action="{{ url_for('download_thumbnail') }}" method="POST">
        <input type="text" name="youtube_url" placeholder="Enter YouTube Video URL" required>
        <button type="submit" class="btn btn-primary">Download Thumbnail</button>
    </form>
    <ul class="list-unstyled mt-4">
        {% for thumbnail in thumbnails %}
            <li class="mb-3">
                <img src="{{ thumbnail.url }}" alt="Thumbnail" class="img-thumbnail" style="width: 200px; height: auto;">
            </li>
        {% endfor %}
    </ul>
{% endblock %}
